<!-- source: src/partials/footer.html; synced: 2026-02-15 -->
<footer class="footer">
  <div class="footer__container container">
    <div class="footer__col footer__brand">
      <div class="footer__logo">
        <img src="/site-icons/footer-logo.svg" alt="Cultnova" />
      </div>

      <div class="footer__contacts">
        <a href="tel:+79218946734">+7 (921) 894 67 34</a>
        <a href="mailto:info@cultnova.ru">info@cultnova.ru</a>

        <div class="footer__socials">
          <a href="/contact/" aria-label="WhatsApp"
            ><svg
              width="17"
              height="17"
              viewBox="0 0 17 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0 16.6667C0.451422 15.2056 0.974648 13.8166 1.453 12.3826C-1.7179 6.82316 2.20625 0.564543 7.52134 0.0446548C12.5396 -0.446269 16.6542 3.16715 16.6666 8.09859C16.6797 13.302 11.6455 17.6714 5.98286 15.8954C5.55572 15.7615 5.02719 15.325 4.52987 15.2957C3.83483 15.2546 2.92394 15.7549 2.22215 15.9811C1.45291 16.2292 0.784027 16.4778 0 16.6667ZM4.70083 13.7535C9.27361 16.5356 14.7491 13.4151 15.2136 8.86972C15.634 4.75492 12.3565 1.09368 7.94866 1.41554C2.91642 1.7829 -0.106337 7.80458 2.99139 12.2112C2.71717 12.9646 2.46055 13.7355 2.22215 14.5246C3.06174 14.2809 3.83568 13.9715 4.70083 13.7535Z"
                fill="white"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M6.49575 4.243C6.97675 5.25159 7.72077 6.74338 6.49575 7.41323C7.11787 8.73167 8.14646 9.64265 9.48714 10.2407C9.933 9.94506 10.2258 9.49595 10.5983 9.12688C11.3765 9.43203 12.104 9.78799 12.735 10.2407C12.7998 11.7147 11.5608 12.2597 10.5128 12.2113C8.30186 12.1094 5.26312 9.30923 4.52995 7.24185C4.09486 6.01518 4.59526 3.66896 6.49575 4.243Z"
                fill="white"
              />
            </svg>
          </a>
          <a href="/contact/" aria-label="Telegram"
            ><svg
              width="17"
              height="15"
              viewBox="0 0 17 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.2458 0.125067C15.2458 0.125067 16.7876 -0.488147 16.6591 1.00109C16.6162 1.61431 16.2308 3.76056 15.931 6.08203L14.9031 12.9588C14.9031 12.9588 14.8175 13.9662 14.0466 14.1414C13.2757 14.3166 12.1194 13.5282 11.9052 13.353C11.7339 13.2216 8.69318 11.2506 7.62246 10.2869C7.32266 10.0241 6.98004 9.4985 7.66528 8.88529L12.1622 4.5052C12.6761 3.97958 13.19 2.75315 11.0487 4.24239L5.05282 8.4035C5.05282 8.4035 4.36758 8.84149 3.08278 8.44729L0.298977 7.57127C0.298977 7.57127 -0.728885 6.91426 1.02704 6.25721C5.30981 4.19855 10.5776 2.0961 15.2458 0.125067Z"
                fill="white"
              />
            </svg>
          </a>
        </div>
        <div class="footer__company">
          <p>ИНН 780440234137</p>
          <p>ОГРНИП 320784700280861</p>
          <br />
          <p>
            195267, г Санкт-Петербург, вн.тер.г муниципальный округ № 21, пр-кт
            Суздальский, 105 / корпус 1 / литера А
          </p>
        </div>
      </div>
    </div>

    <div class="footer__col footer__nav">
      <ul>
        <li><a href="/contact/">Контакты</a></li>
        <li><a href="/projects/">Проекты</a></li>
        <li><a href="/about/">О компании</a></li>
        <li><a href="/blog/">Блог</a></li>
        <li><a href="/faq/">FAQ</a></li>
        <li><a href="/sitemap/">Карта сайта</a></li>

        <li><a href="/terms/">Правила использования сайта</a></li>
        <li>
          <a href="/privacy-policy/">Политика конфиденциальности</a>
        </li>
        <li>
          <a href="/use-cookies/">Соглашение об использовании cookies</a>
        </li>
        <li>
          <a href="/personal-data/"
            >Согласие на обработку персональных данных</a
          >
        </li>
        <li>
          <a href="/personal-data-policy/"
            >Политика в отношении обработки персональных данных</a
          >
        </li>
      </ul>
    </div>

    <div class="footer__col footer__services">
      <div class="footer__services-title">Все услуги</div>
      <button class="footer__services-toggle" type="button">
        Все услуги <span class="arrow">▾</span>
      </button>
      <ul class="footer__services-list">
        <li>
          <a href="/service/"
            >Техническое сопровождение и обслуживание</a
          >
        </li>
        <li><a href="/environment/">Доступная среда</a></li>
        <li><a href="/stand/">Застройка выставок</a></li>
        <li>
          <a href="/musium/">Музеи и интерактивные пространства</a>
        </li>
        <li>
          <a href="/design/">Архитектурное проектирование и дизайн</a>
        </li>
        <li><a href="/content/">Контент и анимация</a></li>
        <li><a href="/app/">Разработка приложений и ПО</a></li>
      </ul>
    </div>
  </div>

  <div class="footer__bottom">Все права защищены © 2025</div>
</footer>
