<!-- source: src/partials/header.html; synced: 2026-02-15 -->
<header class="header">
  <div class="header-content">
    <div class="header-content__start">
      <div class="header-wrap">
        <a href="/" class="cultnova-btn">
        <img src="/site-icons/logo.svg" alt="cultnova" />
      </a>
      <a href="/" class="header-wrap__link">cultivating innovation</a>
      </div>
      <a href="/" class="header-link">Проектирование музеев<br>и интерактивных пространств</a>
    </div>
    <div class="header-content__center">
      <div class="header-content__end__create">
        <h2>
          МЫ СОЗДАЁМ

          <svg
            width="16"
            height="21"
            viewBox="0 0 16 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9 1C9 0.447715 8.55228 0 8 0C7.44772 0 7 0.447715 7 1L9 1ZM7.29289 20.7071C7.68342 21.0976 8.31658 21.0976 8.70711 20.7071L15.0711 14.3431C15.4616 13.9526 15.4616 13.3195 15.0711 12.9289C14.6805 12.5384 14.0474 12.5384 13.6569 12.9289L8 18.5858L2.34315 12.9289C1.95262 12.5384 1.31946 12.5384 0.928932 12.9289C0.538408 13.3195 0.538408 13.9526 0.928932 14.3431L7.29289 20.7071ZM8 1H7V6H8H9V1L8 1ZM8 6H7L7 20H8H9L9 6H8Z"
              fill="#475EEA"
            />
          </svg>
        </h2>
        <div class="header-dropdown">
          <a
            href="/musium/"
            class="header-dropdown__elem"
            ><span class="header-dropdown__elem__span"
              >МУЗЕИ И ИНТЕРАКТИВНЫЕ <br />ПРОСТРАНСТВА</span
            >
            <span class="header-dropdown-dot"></span
          ></a>
          <a
            href="/stand/"
            class="header-dropdown__elem"
            ><span class="header-dropdown__elem__span"
              >ЗАСТРОЙКА ВЫСТАВОК</span
            >
            <span class="header-dropdown-dot"></span
          ></a>
          <a
            href="/design/"
            class="header-dropdown__elem"
            ><span class="header-dropdown__elem__span"
              >АРХИТЕКТУРНОЕ<br />
              ПРОЕКТИРОВАНИЕ И ДИЗАЙН</span
            >
            <span class="header-dropdown-dot"></span
          ></a>
          <a
            href="/content/"
            class="header-dropdown__elem"
            ><span class="header-dropdown__elem__span"
              >КОНТЕНТ И АНИМАЦИЯ</span
            >
            <span class="header-dropdown-dot"></span
          ></a>
          <a
            href="/app/"
            class="header-dropdown__elem"
            ><span class="header-dropdown__elem__span"
              >РАЗРАБОТКА ПРИЛОЖЕНИЙ<br />
              И ПО</span
            >
            <span class="header-dropdown-dot"></span
          ></a>
        </div>
      </div>
      
<svg width="1" height="28" viewBox="0 0 1 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="0.5" y1="28" x2="0.499998" y2="1.60275e-08" stroke="#757575"/>
</svg>

        <a
          href="/service/"
          class="header-content__end__descr technical-support">тех.сопровождение</a
        >
<svg width="1" height="28" viewBox="0 0 1 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="0.5" y1="28" x2="0.499998" y2="1.60275e-08" stroke="#757575"/>
</svg>

        <a
          href="/environment/"
          class="header-content__end__descr"
          >доступная среда</a
        >
        <svg width="1" height="28" viewBox="0 0 1 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="0.5" y1="28" x2="0.499998" y2="1.60275e-08" stroke="#757575"/>
</svg>

         <a
         href="/projects/"
         class="header-content__end__descr technical-support">проекты</a
        >
        <svg width="1" height="28" viewBox="0 0 1 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="0.5" y1="28" x2="0.499998" y2="1.60275e-08" stroke="#757575"/>
</svg>

        <a href="/about/" class="header-content__end__descr"
          >о компании</a
        >
        <svg width="1" height="28" viewBox="0 0 1 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="0.5" y1="28" x2="0.499998" y2="1.60275e-08" stroke="#757575"/>
</svg>

        <a href="/faq/" class="header-content__end__descr"
          >FAQ</a
        >
        <svg width="1" height="28" viewBox="0 0 1 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="0.5" y1="28" x2="0.499998" y2="1.60275e-08" stroke="#757575"/>
</svg>

        <a
          href="/contact/"
          class="header-content__end__descr"
          >контакты</a
        >
    </div>
    <div class="header-content__end">

<a href="tel:+79218946734" class="header-content__end__phone-first">
<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M14.125 15C12.3889 15 10.6736 14.6215 8.97917 13.8646C7.28472 13.1076 5.74306 12.0347 4.35417 10.6458C2.96528 9.25694 1.89236 7.71528 1.13542 6.02083C0.378472 4.32639 0 2.61111 0 0.875C0 0.625 0.0833333 0.416667 0.25 0.25C0.416667 0.0833333 0.625 0 0.875 0H4.25C4.44444 0 4.61806 0.0659722 4.77083 0.197917C4.92361 0.329861 5.01389 0.486111 5.04167 0.666667L5.58333 3.58333C5.61111 3.80556 5.60417 3.99306 5.5625 4.14583C5.52083 4.29861 5.44444 4.43056 5.33333 4.54167L3.3125 6.58333C3.59028 7.09722 3.92014 7.59375 4.30208 8.07292C4.68403 8.55208 5.10417 9.01389 5.5625 9.45833C5.99306 9.88889 6.44444 10.2882 6.91667 10.6562C7.38889 11.0243 7.88889 11.3611 8.41667 11.6667L10.375 9.70833C10.5 9.58333 10.6632 9.48958 10.8646 9.42708C11.066 9.36458 11.2639 9.34722 11.4583 9.375L14.3333 9.95833C14.5278 10.0139 14.6875 10.1146 14.8125 10.2604C14.9375 10.4062 15 10.5694 15 10.75V14.125C15 14.375 14.9167 14.5833 14.75 14.75C14.5833 14.9167 14.375 15 14.125 15Z" fill="currentColor"/>
</svg>
+7 (921) 894 67 34
</a>
<button type="button" class="header-content__end__phone-second open-callback-popup" aria-label="заказать звонок">заказать звонок</button>
    </div>
  </div>
</header>
